.content_name{
    color: white;
    display: inline-block;
    font-size: 13px;
}
.wrapper_general{
    background-color: rgba(240, 248, 255, 0.193);
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.video_style{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.infor_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2vw;
    font-size: 15px;
}

.media_button{
    background-color: rgba(255, 255, 255, 0.902);
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
    text-align:center;
    line-height: 2.5vh;
    display: inline-block;
}

.media_button_off{
    background-color: #ea4335;
    border-radius: 50%;
    height: 2.5vh;
    width: 2.5vh;
    text-align:center;
    line-height: 2.5vh;
    display: inline-block;
}

.media_button:hover{
    background-color: rgba(255, 255, 255, 0.394);
}