.page_container {
    width: 100%; 
    
}
.exam_header{
    text-align: center;
    color: var(--color-gray);
    padding-left: 1vw;
    margin-bottom: 0.5rem;
}
.horizontal_line {
    content: "";
    background-color: black;
    margin-top: 3px;
    height: 1px;
    align-self: stretch;
}
.exam_btn{
    border-radius: 18px!important;
    width: 7.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.25rem 0.75rem !important;
}
.exam_btn:hover {
    background-color: #8a8888 !important;
    color: #4e4e4e !important;
}
.btn_gray{
    background-color: var(--color-silver-medal)!important;
    color: var(--color-gray) !important;
    margin-bottom: 0.5rem;
}

.btn_finish{
    border-radius: 18px!important;
    width: 7.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.25rem 0.75rem !important;
    background-color: var(--color-blue)!important;
    color: white !important;
    
}
.btn_finish:hover{
    background-color: var(--color-dark-blue) !important;
}

.exam_question{
    background-color: #ededed;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    font-size: 1rem;
    user-select: none;
    overflow: scroll;
    height: 67vh;
    border-radius: 10px;
}
.exam_question textarea{
    font-size: 1rem;
    max-width: 100%;
}
.answer_option{
    margin: 2px;
    
}
.answer_option:hover {
    background-color: white;
    border-left: 2px solid;
    border-color:var(--color-blue) ;
}

#imgQuestion{
    width: 100%;
}
.wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    height: 68vh;
    overflow: scroll;
}
.questionBlock{
    width: 100%;
    overflow: scroll;
    height: 50vh;
    background-color: #ededed;
    border-radius: 10px;
    margin-right: 1rem;
    padding: 1rem;
}
.questionButton{
    width: 10vw;
    height: 10vw;
    /* margin: 3px; */
    border-radius: 50% !important; 
    padding: 0px !important;
    font-size: 4vw !important;
    opacity: 0.8;
    border: none !important;
    margin: 0 1rem 0.5rem 0;
}
.questionButton:hover{
    opacity: 1;
}
.question_modal{
    height: 62vh;
    overflow: scroll;
    width: 66%;
    padding: 4%;
}
#btnModal{
    font-size: 350%;
    position: fixed;
    top:20px;
    left:20px;
}
.notification_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 10rem;

    border-radius: 8px;

    box-shadow: var(--shadow-light);
}
@media screen and (min-width: 768px) {
    #imgQuestion{
        width: 40%;
    }
    /* .exam_header{
        padding-top: 0.5vw;
    } */
    .questionButton{
        width: 2.5vw;
        height: 2.5vw;
        font-size: 1vw !important;
    }
    .questionBlock{
        width: 20%;
        height: 65vh;
    }
    .exam_question{
        height: 65vh;
        font-size: 1.25rem;
    }
    .wrapper{
       
        height: 75vh;
 
    }
}