.mainDiv {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* background-color: rgba(red, green, blue, 1); */
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.logos {
    width: 8rem;
}

.loginText {
    margin-top: 2rem;
    font-weight: bold;
    color: var(--color-blue);
    text-align: center;
}

.inputSection {
    margin-bottom: 1rem;
    width: 70%;
}

.labelLogin {
    display: block;
    color: var(--color-gray);
    margin-left: 0.5rem;
}

.inputLogin {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--color-gray);
    padding: 0.5rem;
    font-size: 1rem;
}

.buttonLogin {
    width: fit-content;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: white;
    /* font-weight: bold; */
    padding: 0.5rem;
    /* font-size: 1.1rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.buttonLogin:hover {
    border: 1px solid #2345ef;
    background-color: #2345ef;
}

@media screen and (max-width: 768px) {
    .mainDiv {
        width: 60%;
    }

    .loginText {
        font-size: 2rem;
    }

    .buttonLogin {
        width: 80%;
        font-size: 1rem;
    }
}
