.avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.avatar_container {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    background-color: var(--color-silver-medal);
    border-radius: 50%;
    cursor: pointer;
}

.icon_container_noHover {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    background-color: var(--color-silver-medal);
    border-radius: 50%;
    cursor: pointer;
}

.icon_container.bell_container {
    position: relative;
    color: var(--color-gray);
    font-size: 1.25rem;
}

.notif_dot {
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--color-orange);
    border-radius: 50%;
    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;
}

.log_out_btn {
    color: var(--color-orange);
}

/* Hover animations */
.icon_container:hover {
    transition: 0.2s linear;
    background-color: var(--color-gray);
    color: var(--color-silver-medal);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--nav-bar);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.grid_c23 {
    grid-column: 2/3;
}

.logo {
    width: 40px;
    height: 40px;
}

.teal {
    color: #61d2dc;
}

/* PC Notification Style */
.showNotifi:hover .frame_Notifi {
    visibility: visible;
    opacity: 1;
}

/* .showNotifi:hover .icon-Color {
    color: var(--color-cyan) !important;
} */

.frame_Notifi {
    padding: 0 2em 0 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.frame_Notifi_hide {
    visibility: hidden;
}

.body_Notifi {
    background-color: white;
    width: 20rem;
    border-radius: 1rem;
}

.scroll_Notifi {
    max-height: 14rem;
    overflow-y: scroll;
    overscroll-behavior: contain;
    background-color: white;
}

.notifi_list:hover {
    background-color: var(--bg);
}

/* Mobile Notification Styles */

.frameMobile_Notifi {
    padding: 1.5rem 0 0 0;
    position: absolute;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.bodyMobile_Notifi {
    width: 100%;
    background-color: var(--bg);
    border-radius: 1rem;
}

/* Mobile User Menu Styles */
.frameMobile_User {
    padding: 1.5rem 0 0 0;
    position: absolute;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.bodyMobile_User {
    width: 100%;
    background-color: var(--bg);
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
