.input_container {
    display: flex;
    flex-direction: column;
}

.input_container label {
    color: var(--color-blue);
}

.input_container input {
    border: none;
    border-radius: 6px;
    height: 2.25rem;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    padding: 0 0.5rem;

    outline: none;
    width: 100%;
}

.input_container div {
    align-self: stretch;
}

@media screen and (min-width: 768px) {
    .input_container {
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }

    .input_container div {
        width: 70%;
    }

    /* For displaying input_container in vertical orientation */
    .input_container.vertical {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .input_container.vertical div {
        align-self: stretch;
    }
}
