.frame {
    /* background-color: #e4e2f5; */
    border-radius: 13px;
    padding: 1rem;
    border: 0.1px solid var(--color-lavender-light);
    border-left: 10px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
    box-shadow: var(--shadow-heavy);
    width: 85%;
}
.progressbar {
    height: 10px;
    width: 90%;
    background-color: #eee;
    border-radius: 3px;
    height: 5px;
}
/* For Chrome or Safari */
progress::-webkit-progress-bar {
    background-color: var(--nav-bar);
    height: 5px;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: var(--color-dark-blue) !important;
    height: 5px;
    border-radius: 3px;
}
.nameAndDate {
    border-right: 2px solid black;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 2rem;
    width: 10rem;
}

.markAndProgress {
    margin-top: 1rem;
}
.mark {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: large;
    background-color: var(--color-green);
    font-weight: bold;
    color: white;
}
.moduleName {
    font-size: 1.3rem;
    font-weight: bold;
}
.testName {
    font-size: 1.5rem;
    width: 20%;
}
.markPillPassed {
    background-color: #00ff00;
}
.markPillNotPassed {
    background-color: red;
}
@media screen and (min-width: 768px) {
    .mark {
        margin-left: 1rem;
    }
    .moduleName {
        font-size: 1.5rem;
    }
    .testName {
        font-size: 1.9rem;
    }
    .frame {
        padding: 0.88rem;
    }
    .markAndProgress {
        width: 30%;
    }
    .nameAndDate {
        width: 24rem;
    }
}
