.frame {
    border-radius: 20px;
    width: 70%;
    color: var(--color-dark-blue);
    box-shadow: var(--shadow-heavy);
}

@media screen and (min-width: 768px) {
    .frame {
        margin: 0 3rem 0 0;
        width: 25vw;
        height: 14rem;
        border: 1px solid var(--color-lavender-light);
    }
}
