.input_box label {
    color: var(--color-dark-blue);
}

.modal {
    background-color: var(--nav-bar);
    padding: 1.25rem 1rem 1rem 1rem;
    width: 19rem;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
}
.content {
    width: 100%;
}
.modal_content_container {
    background-color: var(--nav-bar);
    flex-grow: 1;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 35rem;
        height: auto;
        padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    }

    .modal_content_container {
        padding: 1rem 1.25rem;
    }
}
