.pill {
    width: 75px;
    min-width: fit-content;
    border-radius: 35px;
    padding: 5px;
    display: inline-block;
    color: white;
}

.blue {
    background-color: #3d5af1;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff19;
}

.orange {
    background-color: #ff6315;
}

.yellow{
    background-color: #ffef09;
}

@media screen and (max-width: 768px) {
    .blue {
        color: #3d5af1 !important;
        background-color: transparent;
    }

    .red {
        color: #ff0000 !important;
        background-color: transparent;
    }

    .green {
        color: #00ff19 !important;
        background-color: transparent;
    }

    .orange {
        color: #ff5300 !important;
        background-color: transparent;
    }

    .yellow{
        color: #ffef09 !important;
        background-color: transparent;
    }
}
